{% extends 'base.html' %}
{% block title %}ITM CRM - редактирование взаимодействия {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--<script type="text/javascript" src="/~mnb2/a3/admin/jsi18n/"></script>-->
<!--<script type="text/javascript" src="/jsi18n/"></script>-->
<!--<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>-->


<div class="container" style="padding-bottom: 30px">

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.media }}
            {{ form.as_p }}
        </table>
        <input type="submit" value="Сохранить" />
    </form>
</div>
{% endblock %}