{% extends "base.html" %}
{% block title %} ITM CRM {% endblock %}
{% block content %}
<div class="container-fluid">

{% if request.user.is_authenticated %}
<h1>CRM</h1>

<h2>Добро пожаловать, {{ request.user.get_user_naming }}!</h2>

  <p>ITM CRM содержит: </p>
  <ul>
    <li><a href="{% url 'clients' %}"><strong>{{client_count}}  клиентов:</strong> </a> </li>
  </ul>
  <ul>
    <li><a href="{% url 'projects' %}"><strong>{{project_count}}  проектов:</strong> </a> </li>
  </ul>
    {% if request.user.get_manager_access %}
     <ul>
       <li><a href="{% url 'interactions' %}"><strong>{{interaction_count}}  взаимодействий по проектам:</strong> </a> </li>
    </ul>
    {% endif %}
 {% else %}
      <div class="justify-content-center">
          <h2>Для просмотра информации на странице необходимо выполнить <a href="{% url 'login'%}?next={{request.path}}">авторизацию</a></h2>
      </div>
  {% endif %}
</div>
{% endblock %}