{% extends "base.html" %}
{% block title %} ITM CRM - клиенты {% endblock %}
<!--{% load custom_tags %}-->
{% block content %}


<div class="container-fluid">
    <p> <h1>Клиенты</h1>     <a href="{% url 'client-create' %}">Добавить</a> </p>
        <div style="float:right;">
<!--            Сортировать по:-->
            <form action="{% url 'clients' %}" method="get" id="sortClient">
                {{ filterset.form.as_p }}
                {% if page_obj %}
                <input type="hidden" name="page" value="{{ page_obj.number }}" >
                {% endif%}
                    <input type="submit" value="Применить">


<!--                <select style="float:right;" form="sortClient" name="order_by" onchange='this.form.submit()'>-->
<!--                   -->
<!--                   <option  value="company_name"> название по возрастанию</option>-->
<!--                   <option value="-company_name"> название по убыванию</option>-->
<!--                   <option value="created" > дата создания по возрастанию </option>-->
<!--                   <option value="-created" > дата создания по убыванию </option>-->
<!--                   <option value="updated" > дата изменения по возрастанию </option>-->
<!--                   <option value="-updated" > дата изменения по убыванию </option>-->
<!--                </select>-->
<!--                <noscript><input type="submit" value="Submit"></noscript>-->

            </form>

        </div>

    <br/>

    {% if client_list %}
    <table  class="clientinf">
        <tr>
        <th>Компания</th>
        <th>Контактное лицо</th>
        <th>Добавлено</th>
        <th>Изменено</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Email</th>
        </tr>

      {% for client in client_list %}
      <tr>
          <td> <a href="{{ client.get_absolute_url }}"> {{ client.company_name }}</a> </td>
          <td>  {{client.contact_person}}</td>
           <td>  {{client.created}}</td>
           <td>  {{client.updated}}</td>
           <td>  {{client.address}}</td>
           <td rowspan="2">  <ul>
               {% for phone in client.phone_set.all %}
                 <li>{{phone.number}}</li>
               {% endfor %}
           </ul></td>
          <td rowspan="2">
              <ul>
                  {% for mail in client.email_set.all %}
                 <li>{{mail.email_address}}</li>
               {% endfor %}
              </ul>
          </td>
      </tr>
        <tr> <td colspan="5">{{client.description | safe | striptags| linebreaks}}</td></tr>
        <tr><td colspan="7">  </td></tr>

      {% endfor %}

    </table>

<!--     {% if is_paginated %}-->
<!--      <div class="pagination">-->
<!--          <span class="page-links">-->

<!--              {% if page_obj.has_previous %}-->
<!--              <a href="?{% param_replace page=page_obj.previous_page_number %} "> пред.</a>-->

<!--              {% endif %}-->
<!--              <span class="page-current">-->
<!--                  стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.-->
<!--              </span>-->

<!--              {% if page_obj.has_next %}-->
<!--                         <a href="?{% param_replace page=page_obj.next_page_number %}">след.</a>-->
<!--              {% endif %}-->
<!--          </span>-->
<!--      </div>-->
<!--  {% endif %}-->

    {% else %}
      <p>Нет доступных клиентов для просмотра</p>
    {% endif %}
</div>

{% endblock %}
