{% extends "base.html" %}
{% block title %} ITM CRM - клиенты {% endblock %}
{% block content %}


<div class="container-fluid"><p>     <a href="{% url 'client_create' %}">Создать</a> </p>
        <div style="float:right;">
            Сортировать по:
            <form action="" method="get" id="sortClient">
                {{ filter.form.as_p }}
                    <input type="submit" />

<!--                <select style="float:right;" form="sortClient" name="order_by" onchange='this.form.submit()'>-->
<!--                   -->
<!--                   <option  value="company_name"> название по возрастанию</option>-->
<!--                   <option value="-company_name"> название по убыванию</option>-->
<!--                   <option value="created" > дата создания по возрастанию </option>-->
<!--                   <option value="-created" > дата создания по убыванию </option>-->
<!--                   <option value="updated" > дата изменения по возрастанию </option>-->
<!--                   <option value="-updated" > дата изменения по убыванию </option>-->
<!--                </select>-->
<!--                <noscript><input type="submit" value="Submit"></noscript>-->

    </form>

        </div>

    <br/>

    {% if client_list %}
    <table  class="clientinf">
        <tr>
        <th>Компания</th>
        <th>Контактное лицо</th>
        <th>Добавлено</th>
        <th>Изменено</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Email</th>
        </tr>

      {% for client in client_list %}
      <tr>
          <td> <a href="{{client.get_url }}"> {{ client.company_name }}</a> </td>
          <td>  {{client.contact_person}}</td>
           <td>  {{client.created}}</td>
           <td>  {{client.updated}}</td>
           <td>  {{client.address}}</td>
           <td rowspan="2">  <ul>
               {% for phone in client.phone_set.all %}
                 <li>{{phone.number}}</li>
               {% endfor %}
           </ul></td>
          <td rowspan="2">
              <ul>
                  {% for mail in client.email_set.all %}
                 <li>{{mail.email_address}}</li>
               {% endfor %}
              </ul>
          </td>
      </tr>
        <tr> <td colspan="5">{{client.description}}</td></tr>
        <tr><td colspan="7">  </td></tr>

      {% endfor %}

    </table>
    {% else %}
      <p>Нет доступных клиентов для просмотра</p>
    {% endif %}
</div>

{% endblock %}
