{% extends "base.html" %}
{% block title %} ITM CRM - проекты {% endblock %}
{% block content %}


<div class="container-fluid">
    <p> <h1>Проекты</h1>
        <div style="float:right;">
            <form action="{% url 'projects' %}" method="get" id="sortProject">
                 {{ filterset.form.as_p }}
                    <input type="submit" value="Применить"/>

<!--                <select style="float:right;" form="sortClient" name="order_by" onchange='this.form.submit()'>-->


            </form>

        </div>

    <br/>

    {% if project_list %}
    <table  class="clientinf">
        <tr>
        <th>Название проекта</th>
        <th>Компания</th>
        <th>Срок начала</th>
        <th>Срок окончания</th>
        <th>Стоимость</th>
        </tr>

      {% for project in project_list %}
      <tr>
          <td> <a href="{{ project.get_absolute_url }}"> {{ project.name }}</a> </td>
          <td>{% if project.company %}  {{project.company.company_name}} {% endif %}</td>
           <td>  {{project.start_date}}</td>
           <td>   {% if project.end_date %}{{ project.end_date }}{% else %} - {%endif%}</td>
           <td>  {{project.price}}$</td>
      </tr>
        <tr> <td colspan="5"> {{project.description | safe }} </td></tr>
        <tr><td colspan="5">  </td></tr>
      {% endfor %}

    </table>

    {% else %}
      <p>Нет доступных проектов для просмотра</p>
    {% endif %}
</div>

{% endblock %}
