{% extends "base.html" %}
{% block title %} ITM CRM - проект {{ project.name }}  {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 m-1 px-2" >
           <h1>Проект: {{ project.name }}</h1>
           <h3> Для компании "{{ project.company.company_name }}"</h3>
          <p><strong>Описание:</strong> {{ project.description  | safe }}</p>
          <p><strong>Дата начала:</strong> {{ project.start_date }}</p>
          <p><strong>Дата окончания:</strong> {% if project.end_date %}{{ project.end_date }}{% else %} - {%endif%}</p>
          <p><strong>Стоимость:</strong> {{ project.price }}$</p>
          {% if request.user.get_manager_access %}
          <p>
             <ul>
                 <li>   <a href="{% url 'project-update' project.id %}  ">Редактировать</a> </li>
                 <li>   <a href="{% url 'project-delete' project.id %}">Удалить</a>  </li>
            </ul>
          </p>
         {% endif %}
    </div>
        {% if request.user.get_manager_access %}
        <div class="col-5 mx-5 ">
            <p> <h3> Взаимодействия по проекту: </h3>  <a href="{% url 'interaction-create' project.id %} ">Добавить</a> </p>
             <ol>
                 {% for interaction in project.interaction_set.all %}
                 <li><p></p><a href="{{ interaction.get_absolute_url }}"> {{ interaction }} </p></a>
                 <p>Менеджер: {{ interaction.user.get_user_naming }}</p>
                     <p>{{ interaction.description | safe }}</p>
                 </li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
      </div>
</div>
{% endblock %}