{% extends "base.html" %}
{% block title %} ITM CRM - кабинет пользователя {{ user.get_username }}  {% endblock %}
{% load static %}

{% block content %}
<main role="main" class="ps-3">
   <h2> Добро пожаловать, {{ user.get_user_naming }}!</h2>
    <br>
    <p> Пользователь: {{ user.get_username }}</p>
    <img src="{{ user.user_photo.url}}" height=300 width=300 class="img-fluid">
    <br>
    <br>
    <p> Имя: {{ user.first_name }}</p>
    <p> Фамилия: {{ user.last_name }}</p>
    <p> Email: {{ user.email }}</p>

    <br>
    <br>
    <ul>
     <li><a href="{% url 'crmuser-edit' %}"> Редактировать </a></li>
      <li><a href="#"> Изменить пароль </a></li>
    </ul>

</main>
{% endblock %}